html {
  box-sizing : border-box;
  scroll-behavior : smooth;
}
*, *::before, *::after {
  box-sizing : inherit;
}
:root {
  --color-primary:hsl(200,55%,50%);
  --color-secondary: hsl(201, 81%, 75%) ;
  --color-cta: hsl(175,50%,50%);
  --opacity : 1;
  --color-hue : 200;
  --color-white : hsl(0 0% 100%);
  --color-gray-light : hsl(0 0% 96%);
  --color-gray : hsl(0 0% 83%);
  --color-gray-dark : hsl(0 0% 40%);
  --color-black : hsl(0 0% 0%);
  --card-before: hsl(334,44%,54%);
  --card-after: hsl(216, 88%, 35%);
  --gap : 1rem;
  --header-h1-x : 0;
  --header-h1-y : 0;
  --footer-links : rgb(133, 126, 126);
  --transition-time: 0.5s;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family: "Moderustic", sans-serif;
    height: 20em;
    width: 12em;
    font-size: 1.5em;
    color: var(--color-black);
    text-shadow: 1px 1px var(--color-white);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em var(--color-gray-dark);
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid var(--color-gray-dark);
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h1 {
    margin: 0;
    font-size:1.5em;
  }
  
  .card p {
    font-size: 0.65em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color-cta);
    color: var(--color-white);
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: var(--card-before);
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: var(--card-after);
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em; 
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }

  @media screen and (max-width:768px){

    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }

}